





.p5 {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.p5 > .text_wrapper {
    display: flex;
    flex-direction: column;
    color: #242424;

}
.p5 > .text_wrapper > .main_text_div > p {
    line-height: 7.5rem;

 
    font-style: normal;
    font-weight: 500;
    font-size: 4.375rem;

}

.p5 > .text_wrapper > .main_text_div > img {
    margin-left: 14em;
}

.bold {
    font-weight: bold;
}

