



.bp22 {
    background-color: #242424;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    display: flex;

 /*   padding-top: 6.5rem; */
/*    height: 130vh; */

    height: 100vh;
}
.bp22 > .carosuel_wrapper {
    position: relative;

     width: 100%; 
}




.bp3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/Images/Business/p3.png") no-repeat; 
    background-position: right bottom;

    color: black;
    height: 100vh;
}

.bp3 > .text_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
    color: #242424;
}

.bp3 > .text_wrapper > .main_text_div {

    margin-bottom: 2em;
}
.bp3 > .text_wrapper > .main_text_div > p {

    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 80px;
    margin-left: 1.4rem;
    /* or 133% */

}
.bp3 > .text_wrapper > .main_text_div > p:first-child {
    line-height: 3rem;
}

.bp3 > .text_wrapper > .sub_text_div {
   margin-bottom: 1px;
}
.bp3 > .text_wrapper > .sub_text_div > p {
    vertical-align:middle;

    font-style: normal;
    font-size: 2.5rem;
    margin-left: 1.4rem;

/* or 320% */
}
.bp3 > .text_wrapper > .sub_text_div > img {
    vertical-align:middle;
    margin-bottom: 21px;

}



