



.bp22 {
    background-color: #242424;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    display: flex;

 /*   padding-top: 6.5rem; */
/*    height: 130vh; */

    height: 100vh;
}
.bp22 > .carosuel_wrapper {
    position: relative;

     width: 100%; 
}




